@import "tailwindcss";
/* Linear Graadient = Pink = #FF6B9D , Purple =  #9B59B6 , Blue = #4FA8D5 */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --background: #FFF8F0; /* cream background */
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* @media (prefers-color-scheme: white) {
  :root {
     --background: #0a0a0a;
    --foreground: #ededed; 
  }
} */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
